[project]
	description = Light and fast PHP framework.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony Peng (tonypeng)
[access "refs/for/refs/*"]
	read = group user/Tony Peng (tonypeng)
	push = group user/Tony Peng (tonypeng)
	label-Code-Review = -2..+2 group user/Tony Peng (tonypeng)
	label-Verified = -1..+1 group user/Tony Peng (tonypeng)
	rebase = group user/Tony Peng (tonypeng)
	removeReviewer = group user/Tony Peng (tonypeng)
	submit = group user/Tony Peng (tonypeng)
[access "refs/heads/*"]
	read = group user/Tony Peng (tonypeng)
	create = group user/Tony Peng (tonypeng)
	push = +force group user/Tony Peng (tonypeng)
	pushMerge = group user/Tony Peng (tonypeng)
[access "refs/tags/*"]
	push = +force group user/Tony Peng (tonypeng)
	pushTag = group user/Tony Peng (tonypeng)
	pushSignedTag = group user/Tony Peng (tonypeng)
